.simple-extra-infos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 0.5rem;
  row-gap: 1rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px;
}

.simple-extra-infos-item {
  text-align: end;
}

.item-title > hr {
  border-top: 1px solid var(--app-main-color);
}
