.research-aside {
  width: 100vw;
  background: var(--secondary-color);
  border-bottom: solid 1px rgb(0 0 0 / 5%);
  padding: 30px;
  display: flex;
  justify-content: center;
}

@media (min-width: 769px) {
  .research-aside {
    height: 100vh;
    width: 20%;
  }
}
