.infinite-scroll {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  padding: 1rem;
  place-items: center;
}

.infinite-scroll-observer {
  width: 100px;
  height: 100px;
}
