:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;

  --text-light-color: #000000;
  --background-light-color: #ffffff;
  --app-main-light-color: #fa9a46;
  --favorite-light-color: #ff45691f;
  --book-light-color: #4f62ff1f;
  --musics-light-color: #50c5ea33;
  --movie-light-color: #dbadff1f;
  --game-light-color: #11bfaa1f;

  --text-dark-color: #ffffff;
  --background-dark-color: #ff4569cc;
  --app-main-dark-color: #fa9a46;
  --favorite-dark-color: #ff4569cc;
  --book-dark-color: #4f62ffcc;
  --musics-dark-color: #50c5eacc;
  --movie-dark-color: #dbadffcc;
  --game-dark-color: #11bfaacc;

  --text-color: var(--text-light-color);
  --background-color: var(--background-light-color);
  --app-main-color: var(--app-main-light-color);
  --favorite-color: var(--favorite-light-color);
  --book-color: var(--book-light-color);
  --musics-color: var(--musics-light-color);
  --movie-color: var(--movie-light-color);
  --game-color: var(--game-light-color);
}

.light {
  --text-color: var(--text-light-color);
  --background-color: var(--background-light-color);
  --app-main-color: var(--app-main-light-color);
  --favorite-color: var(--favorite-light-color);
  --book-color: var(--book-light-color);
  --musics-color: var(--musics-light-color);
  --movie-color: var(--movie-light-color);
  --game-color: var(--game-light-color);
}

.dark {
  --text-color: var(--text-dark-color);
  --background-color: var(--background-dark-color);
  --app-main-color: var(--app-main-dark-color);
  --favorite-color: var(--favorite-dark-color);
  --book-color: var(--book-dark-color);
  --musics-color: var(--musics-dark-color);
  --movie-color: var(--movie-dark-color);
  --game-color: var(--game-dark-color-color);
}
