@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /*FONT TITLE H1*/
  --title-font-family: "Inter", sans-serif;
  --title-font-weight: bold;
  --title-font-size-mobile: 20px;
  --title-font-size-desktop: 32px;
  /*FONT SUBTITLE H2*/
  --sub-title-font-family: "Inter", sans-serif;
  --sub-title-font-weight: bold;
  --sub-title-font-size-mobile: 16px;
  --sub-title-font-size-desktop: 20px;
  /*FONT SUBTITLE H3*/
  --sub-sub-title-font-family: "Inter", sans-serif;
  --sub-sub-title-font-weight: bold;
  --sub-sub-title-font-size-mobile: 16px;
  --sub-sub-title-font-size-desktop: 16px;
  /*BODY*/
  --body-font-family: "Inter", sans-serif;
  --body-font-size: 12px;
  --body-font-family-desktop: 12px;
  /*SHADOW*/
  --shadow-color: rgb(0 0 0 / 25%);
  /*COLOR*/
  --accent-color: #fa9a46;

  /* COLORS DEFAULT THEME*/
  --primary-color: #fbfcff;
  --secondary-color: #ffffff;
  --tertiary-color: #ffffff;
  --text-color: #0d0d0d;
  /* COLOR DEFAULT THEME CATEGORY PANEL */
  --favorite-color: #ff4569cc;
  --book-color: #4f62ffcc;
  --music-color: #50c5eacc;
  --movie-color: #dbadffcc;
  --game-color: #11bfaacc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  /* COLORS LIGHT THEME*/
  --primary-color: #fbfcff;
  --secondary-color: #ffffff;
  --tertiary-color: #ffffff;
  --text-color: #0d0d0d;
  /* COLOR LIGHT THEME CATEGORY PANEL */
  --favorite-color: #ff4569cc;
  --book-color: #4f62ffcc;
  --music-color: #50c5eacc;
  --movie-color: #dbadffcc;
  --game-color: #11bfaacc;
}

.dark {
  /* COLORS */
  --primary-color: #0d0d0d;
  --secondary-color: #131313;
  --tertiary-color: #1c1e1f;
  --text-color: #fbfcff;
  /* COLOR LIGHT THEME CATEGORY PANEL */
  --favorite-color: #ff45691f;
  --books-color: #4f62ff1f;
  --music-color: #50c5ea33;
  --movie-color: #dbadff1f;
  --game-color: #11bfaa1f;
}

body {
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
}

main {
  background-color: var(--primary-color);
  min-height: calc(100vh - 140px);
}

h1 {
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size-mobile);
}

h2 {
  font-family: var(--sub-title-font-family);
  font-weight: var(--sub-title-font-weight);
  font-size: var(--sub-title-font-size-mobile);
}

h3 {
  font-family: var(--sub-sub-title-font-family);
  font-weight: var(--sub-sub-title-font-weight);
  font-size: var(--sub-sub-title-font-size-mobile);
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.arrow-button {
  height: 30px;
  width: 30px;
  border: none;
  transition: border 0.2s ease-in;
}

.arrow-button:hover {
  border: solid 3px var(--accent-color);
  border-radius: 50%;
}

@media screen and (min-width: 950px) {
  body {
    font-size: var(--body-font-family-desktop);
  }

  h1 {
    font-size: var(--title-font-size-desktop);
  }

  h2 {
    font-size: var(--sub-title-font-size-desktop);
  }

  h3 {
    font-size: var(--sub-title-font-size-desktop);
  }

  .arrow-button {
    height: 48px;
    width: 48px;
  }
}
