p,
h4,
h2 {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

.media-info-layout {
  width: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.media-info-layout-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  background-color: var(--game-color);
  border-radius: 15px;
  padding: 0.5rem;
}

.media-info-layout-top > h2 {
  font-size: 2rem;
}

.media-info-layout-top > p {
  font-size: 2rem;
}

.media-info-layout-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 15px;
  background-color: var(--game-color);
  width: 100%;
  padding: 0.5rem;
}

.media-info-layout-main-left {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem;
  align-items: start;
}

.media-info-layout-main-left > .media-cover {
  min-width: 280px;
  min-height: 400px;
  background-color: #ffffffee;
  border-radius: 15px;
  border: 0;
}

.media-info-layout-main-left > .subtitle {
  display: flex;
  flex-wrap: nowrap;
  word-wrap: break-word;
}

.media-info-layout-main-description {
  border-radius: 15px;
  min-width: 100px;
  align-self: flex-start;
  background-color: #ffffffee;
  padding: 0.5rem;
  border-top: 0.9rem;
  flex: 1;
  text-wrap: wrap;
}

.media-info-layout-others {
  background-color: var(--game-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 0.5rem;
  row-gap: 1rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px;
}

.media-info-layout-others-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-info {
  text-align: end;
}

.media-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.media-cover-games {
  background-image: url("/public/games-icon.svg");
}

.media-cover-movies {
  background-image: url("/public/movies-icon.svg");
}

.media-cover-musics {
  background-image: url("/public/musics-icon.svg");
}

.media-cover-books {
  background-image: url("/public/books-icon.svg");
}
