ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  border: solid 2px red;
  padding: 50px;
  display: flex;
}

.navlinks {
  display: flex;
  justify-content: center;
  gap: 20px;
}
