.movies-page-title {
  background-color: var(--movie-color);
  width: 100vw;
}

.movies-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.carousels-movies-wrapper {
  padding: 50px;
}

@media (min-width: 769px) {
  .movies-container {
    flex-direction: row;
  }
  .movies-by-genre {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
  }

  .carousels-movies-wrapper {
    width: 80%;
  }
}
