.movies-page-title {
  background-color: var(--music-color);
  width: 100vw;
}

.movies-container {
  display: flex;
  flex-direction: column;
}

.carousels-movies-wrapper {
  padding: 50px;
}

.research-aside {
  width: 100vw;
  background: var(--secondary-color);
  border-bottom: solid 1px rgb(0 0 0 / 5%);
  padding: 30px;
  display: flex;
  justify-content: center;
}


@media (min-width: 769px) {
  .movies-container {
    flex-direction: row;
  }

  .carousels-movies-wrapper {
    width: 80%;
  }

  .research-aside {
  height: 100vw;
  width: 20%;
 
  }
}