.home-page {
  padding: 20px;
}

.home-page-title {
  padding: 50px;
  text-align: center;
}

.home-page-title span {
  color: var(--accent-color);
}

.home-page-subtitle {
  padding-left: 10px;
}

@media (min-width: 769px) {
  .home-page-subtitle {
    padding-left: 100px;
  }
}
