.carousel-slide {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding: 9px;
}

.card-media {
  min-width: 296px;
  max-width: 296px;
  background: var(--tertiary-color);
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--shadow-color);
  background: var(--tertiary-color);
}

.card-header {
  display: flex;
  height: 44px;
  padding: 8px;
}

.card-content {
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-content h2 {
  font-size: 16px;
}

.category-icon {
  width: 28px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px;
}

.card-footer {
  display: flex;
  height: 44px;
  justify-content: space-between;
  padding: 8px;
  border-top: solid 3.5px var(--primary-color);
}

.card-footer p {
  margin: auto;
  font-size: 12px;
}

.heart-icon {
  align-self: flex-end;
  width: 28px;
  height: 28px;
}
