.carousel-wrapper {
  position: relative;
  padding-bottom: 30px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  width: 336px;
  margin: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel-track {
  display: flex;
  transition: transform 500ms ease-in-out; /* Transition  entre les slides */
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
  padding: 16px;
}
