header {
  height: 70px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary-color);
  position: relative;
}

.logo-header {
  width: 60px;
}

.burgerMenu {
  width: 36px;
  cursor: pointer;
  border-radius: 8px;
}

@media screen and (min-width: 600px) {
  header {
    justify-content: flex-start;
  }

  .burgerMenu {
    display: none;
  }
}
