.item-title-music {
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--accent-color);
}

.general-info {
  color: var(--text-color);
  text-align: left;
}
.general-info-table td {
  text-align: right;
}
